@import 'variables'

*
   padding: 0
   margin: 0
   border: 0
   outline: none

body
   @include bodyBg('../img/pattern-background-desktop.svg')
   @include font
main
   height: 100vh
   @include dFlex
   
h1
   font-size: 1.75rem
   margin-bottom: 1rem
h1, a, strong, button
   font-weight: 900
   color: $dark-blue
a
   color: $blue
   @include cursor
   &:hover
      color: $blue
      opacity: .65
   
.card
   width: 26rem
   text-align: center
   border-radius: $round
   @include shadow
   overflow: hidden
   img
      width: 100%
      margin-bottom: -.3rem
   p
      padding: 0 1rem
   .card-content
      background: $white
      padding: 2rem
      .card-summary
         @include dFlex
         justify-content: space-between
         background: $bg-light
         padding: 1rem $m2
         margin: $m2 0
         text-align: left
         line-height: 1.6rem
         border-radius: $round
         .card-plan
            @include dFlex
            justify-content: flex-start
            img
               width: 2.8rem
            p
               padding: 0 1.5rem
         a
            font-size: .85rem

      button
         width: 100%
         border-radius: $round
         @include cursor
         &[type="submit"]
            margin-bottom: $m2
            padding: 1rem
            background-color: $blue
            color: $white
            @include shadow
            &:hover
               opacity: .65
         &[type="reset"]
            margin-bottom: .8rem
            background: transparent
            color: $grey
            &:hover
               color: $dark-blue
            
.attribution
   position: absolute
   left: 0
   bottom: 1rem
   width: 100vw
   text-align: center

@media screen and (max-width: 480px)
   body
      @include bodyBg('../img/pattern-background-mobile.svg')
      padding: 0 1.5rem

   .card
      p
         padding: 0
      .card-content
         padding: 1.5rem
         .card-summary
            padding: 1rem
            .card-plan p
                  padding: 0 1.2rem